.demo6 {
  height: 100vh;
  text-align: center;
  background-image: url('https://cdn.jsdelivr.net/gh/maoyln/maoyl-img/blog/10511463W5s.jpeg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  font-size: 20px;
  color: red;
}

.demo6 > .demo-second-a {
  height: 20vh;
  background: yellowgreen;
  /* background-image: linear-gradient(#e69f64, #64dde6, #a9e664, #4115e0); */
}
